/* font size for scree 1024px */



@font-face {
    font-family: 'Futura';
    src: url(/fonts/Futura-Bold.ttf);
}

@font-face {
    font-family: 'Gilroy';
    src: url(/fonts/Gilroy-Medium.ttf);
}

:root {
    --background: #F7F7F7;
    --foreground: #000;
    --border: #000;
}

::selection {
    background: #000;
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Futura', sans-serif;
    font-size: 14px;
    color: var(--foreground);
    background: var(--background);
}

#play-container {
    pointer-events: none;
    z-index: 999;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: transform 0.9s cubic-bezier(0.16, 1, 0.3, 1);
}

#play {
    z-index: 999;
    width: 130px;
    height: 130px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: "Futura";
    font-weight: 500;
    font-size: 18px;
    background: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.04em;
    pointer-events: none;
    transform: scale(0);
    transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

#product-hover {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

#product-hover #effect {
    pointer-events: none;
    width: 256px;
    height: 256px;
    border-radius: 50%;
    background: rgb(230, 230, 230);
    transform: scale(1);
    transition: background 0.6s ease-in-out, transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}


#hero {
    margin: 18px 16px 50px;
}

.container {
    /* padding-top: 17vw; */
    /* min-height: 100vh; */
    position: relative;
}

.container h1 {
    margin-top: 90px;
    font-size: calc((98vw - 48px) * 0.1695);
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
    line-height: 0.90em;
    font-weight: 500;
    letter-spacing: -12px;
}

@media screen and (max-width: 1023.98px) {
    
    .container h1 {
        font-size: calc((98vw - 48px) * 0.168);
        letter-spacing: -3px;
    }
    
}

.container h1 span {
    display: inline-block;
}

.container .video-container {
    height: 100vh;
    width: 100%;
    margin-top: 5vw;
}

@media screen and (max-width: 1023.98px) {
    .container .video-container {
        height: 100%;
    }
    
}

.video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#shop {
    margin: 0 16px;
    /* height: 100vh; */
    position: relative;
    margin-bottom: 15vw;
}

.good {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

.good span {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Gilroy";
    margin-bottom: 1px;
}

.shop-container {
    display: flex;
    gap: 1.5vw;
    position: relative;
    justify-content: space-between;
    margin-top: 16px;
}

.shop-container .shop-product {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.shop-product .hover_nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    text-align: center;
    pointer-events: none;
    background-color: #E5F0D6;
    padding: 1rem;
    font-family: "Gilroy";
    text-transform: uppercase;
    z-index: 999;
}

.shop-product img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.2;
    object-position: 50% 50%;
    opacity: 1;
}

@media screen and (max-width: 1023.98px) {
    .shop-container {
        flex-direction: column;
        gap: 3vw;
    }
    
}

#products {
    margin: 0 16px;
    position: relative;
    margin-bottom: 15vw;
}

#products .products-container {
    display: flex;
    /* justify-content: space-between; */
}

.products-container .left {
    flex-basis: 50%;
}

.products-container .left h2 p {
    text-transform: uppercase;
    font-size: 3.5rem;
}

.products-container .right {
    flex-basis: 50%;
    margin-left: 1.5vw;
}