/* font size for scree 1024px */



@font-face {
    font-family: 'Futura';
    src: url(/fonts/Futura-Bold.ttf);
}

@font-face {
    font-family: 'Gilroy';
    src: url(/fonts/Gilroy-Medium.ttf);
}

:root {
    --background: #F7F7F7;
    --foreground: #000;
    --border: #000;
}

::selection {
    background: #000;
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Futura', sans-serif;
    font-size: 14px;
    color: var(--foreground);
    background: var(--background);
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}

#nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 131px;
    /* background: red; */
    z-index: 1001;
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

#nav .logo-container {
    color: var(--foreground);
    display: flex;
    flex-direction: column;
    width: 106px;
    height: 83px;
    overflow: hidden;
}

#nav .logo-container svg {
    margin-bottom: 20px;
    flex-shrink: 0;
}

#nav .logo-container span:nth-child(1) {
    width: 106;
    height: 83;
    fill: none;
}

#nav .logo-container span:nth-child(2) {
    width: 62;
    height: 63;
    fill: none;
}

#nav .nav-container {
    display: flex;
    justify-content: center;
    
}

.nav-container .links {
    display: flex;
    justify-content: center;
    font-family: "Gilroy";

}

.links .link {
    margin-right: 64px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 13px;
}

.nav-container .icons {
    width: 130px;
    height: 36px;
    padding: 10px 14px;
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    margin-right: -10px;
    position: relative;
    background-color: var(--background);
    border-radius: 50px;
}

.icons .menu {
    width: 18px;
    height: 6px;
    position: relative;
    background-color: transparent;
}

.icons .menu .menu-line {
    background: #000;
    margin-bottom: 2px;
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: black;
}

.icons .menu .menu-line:nth-child(2) {
    top: 100%;
}

#play-container {
    pointer-events: none;
    z-index: 999;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: transform 0.9s cubic-bezier(0.16, 1, 0.3, 1);
}

#play {
    z-index: 999;
    width: 130px;
    height: 130px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: "Futura";
    font-weight: 500;
    font-size: 18px;
    background: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.04em;
    pointer-events: none;
    transform: scale(0);
    transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

#product-hover {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: transform 0.9s cubic-bezier(0.16, 1, 0.3, 1);
}

#product-hover #effect {
    pointer-events: none;
    width: 256px;
    height: 256px;
    border-radius: 50%;
    background: rgb(230, 230, 230);
    transform: scale(0);
    transition: background 0.6s ease-in-out, transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

/* #page {
    margin-top: 131px;
} */

#hero {
    margin: 0 16px 50px;
    padding-top: 215px;
}

.container {
    position: relative;
}

.container h1 {
    font-size: calc((98vw - 48px) * 0.1695);
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
    line-height: 0.85em;
    font-weight: 500;
    letter-spacing: -12px;
}

@media screen and (max-width: 1023.98px) {
    
    .container h1 {
        font-size: calc((98vw - 48px) * 0.168);
        letter-spacing: -3px;
    }
    
}

.container h1 span {
    display: inline-block;
}

.container .video-container {
    height: 100vh;
    width: 100%;
    margin-top: 5vw;
}

@media screen and (max-width: 1023.98px) {
    .container .video-container {
        height: 100%;
    }
    
}

.video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#shop {
    margin: 0 16px;
    /* height: 100vh; */
    position: relative;
    margin-bottom: 5vw;
}

.good {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

.good span {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Gilroy";
    margin-bottom: 1px;
}

.shop-container {
    display: flex;
    gap: 1.5vw;
    position: relative;
    justify-content: space-between;
    margin-top: 16px;
}

.shop-container .shop-product {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.shop-product .hover_nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    text-align: center;
    pointer-events: none;
    background-color: #E5F0D6;
    padding: 1rem;
    font-family: "Gilroy";
    text-transform: uppercase;
    z-index: 999;
}

.shop-product img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.2;
    object-position: 50% 50%;
    opacity: 1;
}

@media screen and (max-width: 1023.98px) {
    .shop-container {
        flex-direction: column;
        gap: 3vw;
    }
    
}

#products {
    margin: 0 16px;
    position: relative;
    margin-bottom: 15vw;
}

#products .text-container {
    display: flex;
    /* justify-content: space-between; */
}

.text-container .left {
    flex-basis: 50%;
    padding-right: 7.5vw;
}

.text-container .left h2 p {
    text-transform: uppercase;
    font-size: 3.5rem;
}

.text-container .mid {
    flex-basis: 20%;
}
.text-container .right {
    flex-basis: 30%;
    margin-left: 1.5vw;
    padding-right: 7.5vw;
}

.text-container .right .text p {
    font-size: 1.1rem;
    margin-bottom: 1.8rem;
    line-height: 1.2em;
    font-family: "Gilroy";
}

.text-container .right .text span {
    font-size: .9rem;
    margin-bottom: 1.5rem;
    line-height: 1.5em;
    font-weight: 300;
    font-family: "Gilroy";
    text-transform: uppercase;
}

@media screen and (max-width: 1023.98px) {
    .text-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3vw;
        text-align: center;
    }
    
    .text-container .left {
        padding-right: 0;
    }
    
    .text-container .right {
        margin-left: 0;
        padding-right: 0;
    }
    
}

#products .products-container {
    display: flex;
    gap: 1.5vw;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    margin-top: 3rem;
}

.products-container .products-container-row {
    display: flex;
    gap: 1.5vw;
    position: relative;
    justify-content: space-between;
    margin-top: 8rem;
}

.product-left {
    flex-basis: 50%;
    width: 100%;
    line-height: 3px;
    text-align: center;
}

.card-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1;
    /* object-position: 50% 50%; */
    opacity: 1;
    aspect-ratio: 1.3;
}

.card .card-text {
    line-height: 3px;
    margin-top: 3.5rem;
}

.card .card-heading p {
    font-size: .7rem;
    line-height: 1.5em;
    margin-bottom: 3px;
    font-family: "Gilroy";
    text-transform: uppercase;
    letter-spacing: 2px;
}

.card .card-price span {
    font-size: .7rem;
    margin-bottom: 1.8rem;
    line-height: 1.5em;
    font-family: "Gilroy";
    text-transform: uppercase;
    letter-spacing: 2px;
}

.product-right {
    flex-basis: 50%;
    width: 100%;
    /* margin-left: 1.5vw; */
    text-align: center;
}